{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!--Boostrap CDN linkup-->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <!--Link to static files-->
     <link href="{% static 'css/logout.css' %}" rel="stylesheet" >
    <meta charset="UTF-8">
    <title>Log Out</title>
</head>
<body>
<div class = "display-top-middle">
    <h1>You have logged out</h1>
</div>
</body>
</html>
