{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <!--Link to static files-->

    <link href="{% static 'css/back2top.css' %}" rel="stylesheet" >
    <link href="{% static 'css/production.css' %}" rel="stylesheet" >
    <link href="{% static 'css/parallex.css' %}" rel="stylesheet" >
    <link href="{% static 'css/standard-site.css' %}" rel="stylesheet" >
    <link href="{% static 'css/w3.css' %}" rel="stylesheet" >
    <link href="{% static 'css/bootstrap.css' %} " rel="stylesheet">

    <script src = "{% static 'js/jquery-3.5.0.js'%}"></script>
    <script src = "{% static 'js/jquery-3.5.0.min.js'%}"></script>
    <script src = "{% static 'js/jquery-3.5.0.slim.js'%}"></script>
    <!-- <script src = "{% static 'js/back2top.js'%}"></script> -->
    <script src = "{% static 'js/home.js'%}"></script>
    <meta charset="UTF-8">
    <title>Home</title>
    <!--Custom Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">


</head>

<body >


  {% include "includes/header.html" %}
    <!-------------------------------------------Navigation Section-------------------------------------->
    {% include "includes/navbar.html" %}
    <!--------------------------------------------Mid Section/Page Content-------------------------------------->

<!-- Parallex scroll effect: -->
<div class="bgimg-1">
  <div class="caption">
  <span style="background-color:  rgb(0,0,0, 0.5);" class="border">SCROLL DOWN</span>
  </div>
</div>

<div style="color: #777;background-color:white;text-align:center;padding:50px 80px;text-align: justify;">
  <h3 style="text-align:center;">About</h3>
  <p style="color: #808080;">The <b>Student Success Predictor</b> exhibits one of the amazing ways machine learning is used behind the scenes to automatically learn and improve from experience without being explicity programmed. This website is built using the Django framework for Python.
  <br>The <b>Student Predictor</b> website predicts COMS 3 student outcomes using machine learning. By entering a students first year and second year average results, the outcome of a students third year result can be predicted.<br>
  <br>The outcome is displayed in one of three categories. A '<b>Low Risk</b>' outcome represents a student who is most likely to do well in their third year. With a possible final average greater than 60%.
  A '<b>Medium Risk</b>' outcome represents a student who is likely to pass. However, such a student is a borderline case and has a prospect of failing as well. With a possible final average between 45% and 60%.
  And finally a '<b>High Risk</b>' outcome represents a student who is likely to fail. With a possible final average less than 45%. A greater attentiveness would be required by facilitators and student alike. </p>
</div>

<div class="bgimg-2">
</div>

<div style="color: #777;background-color:white;text-align:center;padding:50px 80px;text-align: justify;">
  <h3 style="text-align:center;">What does it do?</h3>
  <p style="color: #808080;">Use the <b>Student Success Predictor</b> to input the current marks of a university student and get a prediction of their future marks.
  The student predictor makes it easy to identify students who are at risk of failing.
  <br>On the <b>Predict Student Success</b> page,you are prompted to enter details required to predict the outcome of a students third year coms result, then the final result will be displayed on the Show All Students Data page.
  <br>If you wish to predict a large number of students outcomes all at once, it can be done on the <b>Predict Multiple Student Success</b> page.
  <br>The <b>Show All Students Data</b> page displays the final prediction of the students outcome as a <b>Low Risk</b>, <b>Medium Risk</b> or <b>High Risk</b>.
  <br>To logout the user must simply press the logout button on the <b>Logout</b> page.</p>
</div>

<div class="bgimg-3">
  <div class="caption">
  </div>
</div>

<div style="position:relative;">
  <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;">
  <p>Click below to predict a students final outcome</p>
  </div>
</div>

    <!-- Page content -->
    <div class="w3-content" style="max-width:2000px;margin-top:46px; text-align: center;" id ="HOME">
<!--About-->
            <div class="intro-button mx-auto">
             <a class="btn std-button btn-xl text-white" href={% url 'student_predictor:predict_student' %}>PREDICT STUDENT SUCCESS</a>
           </div>


    </div>


    </section>

    <div style = "background-color:#282E34; margin-top:  15%;" class = "anim-container text-center">
      <div style="position:relative;">
        <div style="color:#ddd;background-color:#282E34;text-align:center;padding:40px 80px;">
            <p style=" color: #eee; font-size: 20px; font-weight: 500;"><b>A</b></p>
            <div class="letters"><span class="letter">W</span><span class="letter">e</span><span class="letter"> </span><span class="letter">t</span><span class="letter">h</span><span class="letter">o</span><span class="letter">u</span><span class="letter">g</span><span class="letter">h</span><span class="letter">t</span><span class="letter"> </span><span class="letter">t</span><span class="letter">h</span><span class="letter" style="text-align: center;">i</span><span class="letter">s</span><span class="letter"> </span><span class="letter">w</span><span class="letter">a</span><span class="letter">s</span><span class="letter"> </span><span class="letter">C</span><span class="letter">A</span><span class="letter">M</span>
            </div>
            <p style="color: #eee; font-size: 20px; font-weight: 600;">PRODUCTION</p>
          </div>
      </div>
    </div>

</body>
</html>
