 body {
    background-color: #f5f5f5;

 }

 .navbar-col {
    background-color: #43d8c9;
    background-repeat: repeat;
 }

 h1 {
     display: flex;
     align-items: center;
     justify-content: center;
 }
