 body {
    background-color: #696969;
 }

 .blue-col{background-color: #4484CE;}
 .White-col{background-color: #D9D9D9;}
 .yellow-col{background-color: #F9CF00;}
 .Orng-col{background-color: #F19F4D;}
 .Rightalign{float: right}

 .Blue-wr{color: #4484CE;}
 .White-wr{color: #D9D9D9;}
 .Yellow-wr{color: #F9CF00;}
 .Orng-wr{color: #F19F4D;}
.serif {
  font-family: "Times New Roman", Times, serif;
}

.sansserif {
  font-family: "Arial", Helvetica, sans-serif;
}

.monospace {
  font-family: "Lucida Console", Courier, monospace;
}


 h1 {
     font-family: "Lucida Console", Courier, monospace;
     display: flex;
     align-items: center;
     justify-content: center;
 }


.centre{
position: relative;
padding :50px;
}

.block {
  display: block;
  width: 100%;
  border: none;
  background-color: #4CAF50;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}




