body {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    padding: 20em;
    background-color: #696969;
}

p {
    color: grey; 
    font-size: 2em;
}

.butn-col{
    background-color:black !importan;
}


