/*'A WE THOUGHT THIS WAS CAM PRODUCTION' animation at the bottom of the home page*/

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  font-size: 0;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

p {
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 800;
  color: #808080;
}

.letter {
  width: 24px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  overflow: hidden;
  margin: 0 0;
  font-family: sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  text-transform: uppercase;
  color: #eee;

}
.letter:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  word-break: break-all;
  background-color: #1d1f20;

}

.letter:nth-child(1):before {
  content: "1750638429";
  margin-top: -168px;
  -webkit-animation: move 9s infinite;
  animation: move 9s infinite;
  -webkit-animation-name: letter1;
          animation-name: letter1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes letter1 {
  0%,10%{
    margin-top: -168px;
  }
  50%, 100%{
    margin-top: 24px;
  }

}

@keyframes letter1 {
  0%,10% {
    margin-top: -168px;
  }
  50%, 100% {
    margin-top: 24px;
  }
}
.letter:nth-child(2):before {
  content: "2596140837";
  margin-top: -144px;
  -webkit-animation: move 9s infinite;
  animation: move 9s infinite;
  -webkit-animation-name: letter2;
          animation-name: letter2;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes letter2 {
  0%,20% {
    margin-top: -144px;
  }
  50%, 100% {
    margin-top: 24px;
  }
}

@keyframes letter2 {
  0%,20% {
    margin-top: -144px;
  }
  50%, 100% {
    margin-top: 24px;
  }
}
.letter:nth-child(3):before {
  content: "8205967431";
  margin-top: -24px;
  -webkit-animation: move 9s infinite;
  animation: move 9s infinite;
  -webkit-animation-name: letter3;
          animation-name: letter3;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes letter3 {
  0%, 30% {
    margin-top: -24px;
  }
  50%, 100% {
    margin-top: 24px;
  }
}

@keyframes letter3 {
  0%, 30% {
    margin-top: -24px;
  }
  50%, 100% {
    margin-top: 24px;
  }
}
.letter:nth-child(4):before {
  content: "0152634789";
  margin-top: -144px;
  -webkit-animation: move 9s infinite;
  animation: move 9s infinite;
  -webkit-animation-name: letter4;
          animation-name: letter4;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes letter4 {
  0%, 15% {
    margin-top: -144px;
  }
  50%, 100% {
    margin-top: 24px;
  }
}

@keyframes letter4 {
  0%, 15% {
    margin-top: -144px;
  }
  50%, 100% {
    margin-top: 24px;
  }
}
.letter:nth-child(5):before {
  content: "9816542703";
  margin-top: -96px;
  -webkit-animation: move 9s infinite;
  animation: move 9s infinite;
  -webkit-animation-name: letter5;
          animation-name: letter5;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes letter5 {
  0%, 25% {
    margin-top: -96px;
  }
  50%, 100% {
    margin-top: 24px;
  }
}

@keyframes letter5 {
  0%, 25% {
    margin-top: -96px;
  }
  50%, 100% {
    margin-top: 24px;
  }
}
.letter:nth-child(6):before {
  content: "9573604281";
  margin-top: -144px;
  -webkit-animation: move 9s infinite;
  animation: move 9s infinite;
  -webkit-animation-name: letter6;
          animation-name: letter6;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes letter6 {
  0%, 35% {
    margin-top: -144px;
  }
  50%, 100% {
    margin-top: 24px;
  }
}

@keyframes letter6 {
  0%, 35% {
    margin-top: -144px;
  }
  50%, 100% {
    margin-top: 24px;
  }
}
.letter:nth-child(7):before {
  content: "6240913587";
  margin-top: -48px;
  -webkit-animation: move 9s infinite;
  animation: move 9s infinite;
  -webkit-animation-name: letter7;
          animation-name: letter7;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes letter7 {
  0%, 10% {
    margin-top: -48px;
  }
  50%, 100% {
    margin-top: 24px;
  }
}

@keyframes letter7 {
  0%, 10% {
    margin-top: -48px;
  }
  50%, 100% {
    margin-top: 24px;
  }
}
.letter:nth-child(8):before {
  content: "7315246908";
  margin-top: -24px;
  -webkit-animation: move 9s infinite;
  animation: move 9s infinite;
  -webkit-animation-name: letter8;
          animation-name: letter8;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes letter8 {
  0%, 20% {
    margin-top: -24px;
  }
  50%, 100% {
    margin-top: 24px;
  }
}

@keyframes letter8 {
  0%, 20% {
    margin-top: -24px;
  }
  50%, 100% {
    margin-top: 24px;
  }
}
.letter:nth-child(9):before {
  content: "0362148795";
  margin-top: -120px;
  -webkit-animation: move 9s infinite;
  animation: move 9s infinite;
  -webkit-animation-name: letter9;
          animation-name: letter9;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes letter9 {
  0%, 30% {
    margin-top: -120px;
  }
  50%, 100% {
    margin-top: 24px;
  }
}

@keyframes letter9 {
  0%, 30% {
    margin-top: -120px;
  }
  50%, 100% {
    margin-top: 24px;
  }
}
.letter:nth-child(10):before {
  content: "7481259603";
  margin-top: -144px;
  -webkit-animation: move 9s infinite;
  animation: move 9s infinite;
  -webkit-animation-name: letter10;
          animation-name: letter10;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes letter10 {
  0%, 15% {
    margin-top: -144px;
  }
  50%, 100% {
    margin-top: 24px;
  }
}

@keyframes letter10 {
  0%, 15% {
    margin-top: -144px;
  }
  50%, 100% {
    margin-top: 24px;
  }
}
.letter:nth-child(11):before {
  content: "4963208751";
  margin-top: -96px;
  -webkit-animation: move 9s infinite;
  animation: move 9s infinite;
  -webkit-animation-name: letter11;
          animation-name: letter11;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes letter11 {
  0%, 25% {
    margin-top: -96px;
  }
  50%, 100% {
    margin-top: 24px;
  }
}

@keyframes letter11 {
  0%, 25% {
    margin-top: -96px;
  }
  50%, 100% {
    margin-top: 24px;
  }
}
.letter:nth-child(12):before {
  content: "0143598762";
  margin-top: -192px;
  -webkit-animation: move 9s infinite;
  animation: move 9s infinite;
  -webkit-animation-name: letter12;
          animation-name: letter12;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes letter12 {
  0%, 35% {
    margin-top: -192px;
  }
  50%, 100% {
    margin-top: 24px;
  }
}

@keyframes letter12 {
  0%, 35% {
    margin-top: -192px;
  }
  50%, 100% {
    margin-top: 24px;
  }
}
.letter:nth-child(13):before {
  content: "3094687512";
  margin-top: -216px;
  -webkit-animation: move 9s infinite;
  animation: move 9s infinite;
  -webkit-animation-name: letter13;
          animation-name: letter13;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes letter13 {
  0%, 10% {
    margin-top: -216px;
  }
  50%, 100% {
    margin-top: 24px;
  }
}

@keyframes letter13 {
  0%, 10% {
    margin-top: -216px;
  }
  50%, 100% {
    margin-top: 24px;
  }
}
.letter:nth-child(14):before {
  content: "5412683907";
  margin-top: -168px;
  -webkit-animation: move 9s infinite;
  animation: move 9s infinite;
  -webkit-animation-name: letter14;
          animation-name: letter14;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes letter14 {
  0%, 20% {
    margin-top: -168px;
  }
  50%, 100% {
    margin-top: 24px;
  }
}

@keyframes letter14 {
  0%, 20% {
    margin-top: -168px;
  }
  50%, 100% {
    margin-top: 24px;
  }
}
.letter:nth-child(15):before {
  content: "2036917485";
  margin-top: -72px;
  -webkit-animation: move 9s infinite;
  animation: move 9s infinite;
  -webkit-animation-name: letter15;
          animation-name: letter15;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes letter15 {
  0%, 30% {
    margin-top: -72px;
  }
  50%, 100% {
    margin-top: 24px;
  }
}

@keyframes letter15 {
  0%, 30% {
    margin-top: -72px;
  }
  50%, 100% {
    margin-top: 24px;
  }
}
.letter:nth-child(16):before {
  content: "1083297564";
  margin-top: 0px;
  -webkit-animation: move 9s infinite;
  animation: move 9s infinite;
  -webkit-animation-name: letter16;
          animation-name: letter16;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes letter16 {
  0%, 15% {
    margin-top: 0px;
  }
  50%, 100% {
    margin-top: 24px;
  }
}

@keyframes letter16 {
  0%, 15% {
    margin-top: 0px;
  }
  50%, 100% {
    margin-top: 24px;
  }
}
.letter:nth-child(17):before {
  content: "1750638429";
  margin-top: -168px;
  -webkit-animation: move 9s infinite;
  animation: move 9s infinite;
  -webkit-animation-name: letter17;
          animation-name: letter17;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes letter17 {
  0%, 25% {
    margin-top: -168px;
  }
  50%, 100% {
    margin-top: 24px;
  }
}

@keyframes letter17 {
  0%, 25% {
    margin-top: -168px;
  }
  50%, 100% {
    margin-top: 24px;
  }
}
.letter:nth-child(18):before {
  content: "2596140837";
  margin-top: -144px;
  -webkit-animation: move 9s infinite;
  animation: move 9s infinite;
  -webkit-animation-name: letter18;
          animation-name: letter18;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes letter18 {
  0%, 35% {
    margin-top: -144px;
  }
  50%, 100% {
    margin-top: 24px;
  }
}

@keyframes letter18 {
  0%, 35% {
    margin-top: -144px;
  }
  50%, 100% {
    margin-top: 24px;
  }
}
.letter:nth-child(19):before {
  content: "8205967431";
  margin-top: -24px;
  -webkit-animation: move 9s infinite;
  animation: move 9s infinite;
  -webkit-animation-name: letter19;
          animation-name: letter19;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes letter19 {
  0%, 10% {
    margin-top: -24px;
  }
  50%, 100% {
    margin-top: 24px;
  }
}

@keyframes letter19 {
  0%, 10% {
    margin-top: -24px;
  }
  50%, 100% {
    margin-top: 24px;
  }
}
.letter:nth-child(20):before {
  content: "0152634789";
  margin-top: -144px;
  -webkit-animation: move 9s infinite;
  animation: move 9s infinite;
  -webkit-animation-name: letter20;
          animation-name: letter20;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes letter20 {
  0%, 20% {
    margin-top: -144px;
  }
  50%, 100% {
    margin-top: 24px;
  }
}

@keyframes letter20 {
  0%, 20% {
    margin-top: -144px;
  }
  50%, 100% {
    margin-top: 24px;
  }
}
.letter:nth-child(21):before {
  content: "9816542703";
  margin-top: -96px;
  -webkit-animation: move 9s infinite;
  animation: move 9s infinite;
  -webkit-animation-name: letter21;
          animation-name: letter21;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes letter21 {
  0%, 30% {
    margin-top: -96px;
  }
  50%, 100% {
    margin-top: 24px;
  }
}

@keyframes letter21 {
  0%, 30% {
    margin-top: -96px;
  }
  50%, 100% {
    margin-top: 24px;
  }
}
.letter:nth-child(22):before {
  content: "9573604281";
  margin-top: -144px;
  -webkit-animation: move 9s infinite;
  animation: move 9s infinite;
  -webkit-animation-name: letter22;
          animation-name: letter22;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes letter22 {
  0%, 15% {
    margin-top: -144px;
  }
  50%, 100% {
    margin-top: 24px;
  }
}

@keyframes letter22 {
  0%, 15% {
    margin-top: -144px;
  }
  50%, 100% {
    margin-top: 24px;
  }
}
.letter:nth-child(23):before {
  content: "6240913587";
  margin-top: -48px;
  -webkit-animation: move 9s infinite;
  animation: move 9s infinite;
  -webkit-animation-name: letter23;
          animation-name: letter23;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes letter23 {
  0%, 25% {
    margin-top: -48px;
  }
  50%, 100% {
    margin-top: 24px;
 23}
}

@keyframes letter7 {
  0%, 25% {
    margin-top: -48px;
  }
  50%, 100% {
    margin-top: 24px;
  }
}