{% load static %}
<!DOCTYPE html>
<html lang="en">
<head style="background-color:#696969;">

    <!--Link to static files-->
{#    There is no file that corresponds to this...#}
<link href="{% static 'css/w3.css' %}" rel="stylesheet" >
<link href="{% static 'css/bootstrap.css' %} " rel="stylesheet">
<link href="{% static 'css/parallex.css' %}" rel="stylesheet" >
<link href="{% static 'css/standard-site.css' %}" rel="stylesheet" >

    <title>Research</title>
</head>
<body>
  {% include "includes/header.html" %}
    <!-------------------------------------------Navigation Section-------------------------------------->
    {% include "includes/navbar.html" %}
    <!--------------------------------------------Mid Section/Page Content-------------------------------------->
  <div class = "intro-text left-0 text-center text-white text-center bg-faded p-5 rounded margin-predict">

      <h1 class="text-center text-white text-uppercase">Manual</h1>
        <br>
      <img src = "http://127.0.0.1:8000/static/img/SDProjDemo-small.gif" loop=infinite width="550" height="550">


        <br>
        <br>
      The Video above will repeat once completed.


  </div>

  {% include "includes/footer.html" %}
</body>
</html>
