{% load static %}
<!DOCTYPE html>
<html lang="en">
<head style="background-color:#696969;">

    <!--Link to static files-->
{#    There is no file that corresponds to this...#}
<link href="{% static 'css/w3.css' %}" rel="stylesheet" >
<link href="{% static 'css/bootstrap.css' %} " rel="stylesheet">
<link href="{% static 'css/parallex.css' %}" rel = "stylesheet">
<link href="{% static 'css/standard-site.css' %}" rel="stylesheet" >

    <title>Research</title>
</head>
<body>
  {% include "includes/header.html" %}
    <!-------------------------------------------Navigation Section-------------------------------------->
    {% include "includes/navbar.html" %}
    <!--------------------------------------------Mid Section/Page Content-------------------------------------->
    {% include "includes/footer.html" %}
    <div class = "intro-text left-0 text-center bg-faded p-5 rounded margin-predict">
    </div>
</body>
</html>
