{% load static %}
<!DOCTYPE html>
<html lang="en">
<head style="background-color:#696969;">

    <!--Link to static files-->
{#    There is no file that corresponds to this...#}
<link href="{% static 'css/w3.css' %}" rel="stylesheet" >
<link href="{% static 'css/bootstrap.css' %} " rel="stylesheet">
<link href="{% static 'css/parallex.css' %}" rel = "stylesheet">
<link href="{% static 'css/standard-site.css' %}" rel="stylesheet" >

    <title>Research</title>
</head>
<body>
  {% include "includes/header.html" %}
    <!-------------------------------------------Navigation Section-------------------------------------->
    {% include "includes/navbar.html" %}
    <!--------------------------------------------Mid Section/Page Content-------------------------------------->
  <h1 class="text-center text-white text-uppercase">Research Explained</h1>

  <div class = "intro-text left-0 text-center bg-faded p-5 rounded margin-predict" style = "color:black;background-color:white;text-align:center;padding:50px 80px;text-align: justify;">

        <p style = "font-size: 1em;">
        The overall outcome for this project is to enables students and educators
        to identify the current trajectory of their academic performance.
            <br>
        The Methods used in the research displayed under the research tab will be explained in this section.
            <br>
        </p>

        <p style = "font-size: 1em;">
        Continuous meetings with our product owner directed us to three overall questions.
        Each question covers a main contributing aspect to a students success
        <li>
        Which subjects do students struggle most with?
        </li>
        <li>
        Which features contribute the least to a student's success?
        </li>
        <li>
        Which is more useful to student success, first or second year?
        </li>

        </p>




      <img src = "http://127.0.0.1:8000/static/img/test.gif" loop=infinite>
  </div>




  {% include "includes/footer.html" %}

</body>
</html>
