{% load static %}
<!DOCTYPE html>
<html lang="en">
<head style="background-color:#696969;">

    <!--Link to static files-->
{#    There is no file that corresponds to this...#}
<link href="{% static 'css/w3.css' %}" rel="stylesheet" >
<link href="{% static 'css/bootstrap.css' %} " rel="stylesheet">
<link href="{% static 'css/parallex.css' %}" rel = "stylesheet">
<link href="{% static 'css/standard-site.css' %}" rel="stylesheet" >

    <title>Research</title>
</head>
<body>
  {% include "includes/header.html" %}
    <!-------------------------------------------Navigation Section-------------------------------------->
    {% include "includes/navbar.html" %}
    <!--------------------------------------------Mid Section/Page Content-------------------------------------->
  <h1 class="text-center text-white text-uppercase">Research Explained</h1>

  <div class = "intro-text left-0 text-center bg-faded p-5 rounded margin-predict" style = "color:black;background-color:white;text-align:center;padding:50px 80px;text-align: justify;">

        <p style = "font-size: 1em;">
        The overall outcome for this project is to enables students and educators
        to identify the current trajectory of their academic performance.
            <br>
        The Methods used in the research displayed under the research tab will be explained in this section.
            <br>
        </p>

        <p style = "font-size: 1em;">
        Continuous meetings with our product owner directed us to three overall questions.
        Each question covers a main contributing aspect to a students success
        <li>
        Which subjects do students struggle most with?
                <ul>
                    <br>
                    Firstly we needed to normalize the data used, since we have to factor the amount of people taking the course against the results of people who
                    have already completed it. Normalising the data decreased the amount of usable data we were able to use.
                    This was done through many filters all coded in python.
                    Something to note is that some students may have participated in one of the two subjects required and not both, thus decreasing the size of usable data.
                    <br>
                    We can further expand on how to explore the data here by implementing a form of Bayesian Analysis. In particular, using the formula:
                    P(A|B) = (P(B|A)P(A))/P(B),
                    <br>
                    which gives us the probability of a student passing given a condition. For example, "What is the probability a student will pass
                    given their MATHS 2 marks are average or high?" This will help us assess which subjects students will struggle with the most.
                </ul>
        </li>
        <li>
        Which features contribute the least to a student's success?
                <ul>
                    <br>
                    This was explored through diagrams seen on the <b>Research</b> page.
                    As seen through the two bar graphs, The comparison between the two graphs of first and second year marks.
                    This shows the diparity in marks for the two respective subjects for each year.


                </ul>
        </li>
        <li>
        Which is more useful to student success, first or second year results?
                <ul>
                    <br>
                    We intend to solve this by first proposing a hypothesis, either saying first year is more useful or second year is more useful.
                    By means of confusion matrices we explore our initial hypothesis as to which subject in each year holds the most sway in terms of a student success in passing.
                </ul>
        </li>

        </p>

  </div>




  {% include "includes/footer.html" %}

</body>
</html>
