{% load static %}
<!DOCTYPE html>
<html lang="en">
<head style="background-color:#696969;">

    <!--Link to static files-->
{#    There is no file that corresponds to this...#}
<link href="{% static 'css/w3.css' %}" rel="stylesheet" >
<link href="{% static 'css/bootstrap.css' %} " rel="stylesheet">
<link href="{% static 'css/parallex.css' %}" rel = "stylesheet">
<link href="{% static 'css/standard-site.css' %}" rel="stylesheet" >

    <title>Research</title>
</head>
<body>
  {% include "includes/header.html" %}
    <!-------------------------------------------Navigation Section-------------------------------------->
    {% include "includes/navbar.html" %}
    <!--------------------------------------------Mid Section/Page Content-------------------------------------->
    <div style = "color: #777;background-color:white;text-align:center;padding:50px 80px;text-align: justify;">
    <h3 class = "text-center">Research</h3>
        <p>As a tool, the <b>Student Predictor</b>, enables students and educators 
            to identify the current trajectory of their academic performance.

            <br>
            <br>
            The following section explores a further set of possible questions that the <b>Student Predictor</b>
            can be used to answer.
        </p>
        <ol>
            <li>What are the implications of implementing such a prediction system
                 and could it's uses be extended to use in other organizations
                  such as schools and again what would the implications be here? 
                Some ethics can be discussed too. (Ahmad Soni)
            </li>
            <li>
                How can we increase the reach of the product to a wider spread of subjects? (Nich Muir)
            </li>
            <li>
                What corrective measure(s) should be suggested based on the expected performance of the student? (Anthony Kubeka)
            </li>
        </ol>
    </div>
</body>
</html>