{% load static %}
<!DOCTYPE html>
<html lang="en" class ="body">
<head>
  <link href="{% static 'css/standard-site.css' %}" rel="stylesheet" >
  <link href="{% static 'css/w3.css' %}" rel="stylesheet" >
  <link href="{% static 'css/bootstrap.css' %} " rel="stylesheet">
    <meta charset="UTF-8">
    <title>{{ object }}</title> {# object specifies model being used by DetailView - '__str__' converts object to string#}
</head>
<body>
  <h1 class="site-heading text-center text-white d-none d-lg-block" id = "meh">
    <span class="site-heading-upper text-primary mb-3 site-heading">A We Thought This Was Cam Production</span>
    <span class="site-heading-lower">The Student Predictor</span>
  </h1>
    <!---Navigation Section--->
    <nav class="navbar navbar-expand-lg navbar-dark py-lg-4 site-heading text-center" id="mainNav">
      <div class = "container">
        <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">The Student Predictor</a><!--mobile view-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!--the navbar itself-->
        <div class = "collapse navbar-collapse" id="navbarResponsive">
          <ul class= "navbar-nav mx-auto">
            <li class="nav-item active px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="{% url 'demo:home' %}">Home</a>
            </li>
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="{% url 'student_predictor:show_all_students' %}">Show All STudents</a>
            </li>
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="{% url 'student_predictor:predict_student' %}" >student predictor</a>
            </li>
            <li class = "nav-item px-lg-4">
              <a class  = "nav-link text-uppercase text-expanded" href="/accounts/logout">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
{#        Hi I'm {{ object }}#}
        {# 'object' corresponds to the current student model object but can be represented as a string if needed #}
        {# Below is how you reference each value in the student model #}
        {# Make this look fancy pls #}
        <h1 clas = "text-white" style="margin-top:46px">{{object.full_name }}</h1>
        Student No: {{ object.student_no }} <br>
        First Year Overall Average: {{ object.aggregate_YOS1 }} <br>
        Second Year Overall Average: {{ object.aggregate_YOS2 }} <br>
        First Year COMS Average: {{ object.coms_avg_YOS1 }} <br>
        Second Year COMS Average: {{ object.coms_avg_YOS2 }} <br>
        First Year MATHS Average: {{ object.maths_avg_YOS1 }} <br>
        Second Year MATHS Average: {{ object.maths_avg_YOS2 }} <br>
        {# Below is how to call a method that does not require arguments #}
        {# prediction_text returns the text/description of the prediction char - look in models.py#}
{#        Put in some element to bring attention to this pls#}
        Predicted Outcome: {{ object.prediction_text }} <br>
    </div>

</body>
</html>
