{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <link href="{% static 'css/standard-site.css' %}" rel="stylesheet" >
  <link href="{% static 'css/w3.css' %}" rel="stylesheet" >
  <link href="{% static 'css/bootstrap.css' %} " rel="stylesheet">
    <meta charset="UTF-8">

    <title>Show All Students</title>
    <!--Custom Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

</head>
<body>

    {% include "includes/header.html" %}
    <!---Navigation Section--->

    {% include "includes/navbar.html" %}



<h1 class="text-center text-white text-uppercase">Show All Students</h1>

{# Search/Filter bar #}
<input type="text" id="myInput" onkeyup="searchFunction()" placeholder="Search for Name or Student Number.." title="Type in a name">

{# alphabetical_students is just a list of all student model objects, ordered by full_name #}
{% if alphabetical_students %}
    <ul class = "text-black margin-students">
    {% for student in alphabetical_students %}
        {# Block of code is run for each student #}
        {# Look in show_student.html for how to access other attributes #}
        <button id = "stud_btn_{{ student.student_no }}" type="button" class="collapsible ">{{student}} - {{ student.prediction_text }}</button>
          <div class="content">
            <table>
                <tr><td>Year of Study 1 Overall Average:</td><td>{{student.aggregate_YOS1}}%</td></tr>
                <tr><td>Year of Study 2 Overall Average:</td><td>{{student.aggregate_YOS2}}%<td></tr>
                <tr><td>Year of Study 1 COMS Average:</td><td>{{student.coms_avg_YOS1}}%</td></tr>
                <tr><td>Year of Study 2 COMS Average:</td><td>{{student.coms_avg_YOS2}}%</td></tr>
                <tr><td>Year of Study 1 MATH Average:</td><td>{{student.maths_avg_YOS1}}%</td></tr>
                <tr><td>Year of Study 2 MATH Average:</td><td>{{student.maths_avg_YOS2}}%</td></tr>
            </table>
            <a class="btn std-button btn-xl text-white" href ="{% url 'student_predictor:re_predict_student' student.id %}"> Edit & Predict(SVC) </a>
            <a class="btn std-button btn-xl text-white" href ="{% url 'student_predictor:re_predict_student_lgr' student.id %}"> Edit & Predict(LGR) </a>
            <a class="btn std-button btn-xl text-white" href ="{% url 'student_predictor:delete_person' student.id %}"> Delete Student</a>
          </div>
    {% endfor %}
    </ul>
{% else %}
    No students exist.
{% endif %}

{% include "includes/footer.html" %}

<script type="text/javascript">
    //extract student info into javascript array of student objects
    var students = [{% for student in alphabetical_students%}
                    {"name":"{{student.full_name}}",
                      "stud_no":"{{student.student_no}}",
                      "year_1":"{{student.aggregate_YOS1}}",
                      "year_2":"{{student.aggregate_YOS2}}",
                      "coms_1":"{{student.coms_avg_YOS1}}",
                      "coms_2":"{{student.coms_avg_YOS2}}",
                      "math_1":"{{student.maths_avg_YOS1}}",
                      "math_2":"{{student.maths_avg_YOS2}}"
                  },

                    {%endfor%}
                    ]

    console.log(students);

    var selected_student_no = "{{selected_student_no}}"; // Python None will evaluate to the String 'None'
    // console.log(selected_student_no);
    console.log(selected_student_no);
    if (selected_student_no !== "None") { // If a student has been selected
        window.onload=function(){
            var btn_id = "stud_btn_" & selected_student_no;
            //console.log(btn_id);
            var stud_btn = document.getElementById("stud_btn_"+selected_student_no);
            stud_btn.click();
            stud_btn.scrollIntoView();
        };
    }

    //extract student data from model
    //let student = {student_no: {{student.aggregate_YOS1}}%, student_name: null, year_1: null, year_2: null,
      //     coms_1: null, coms_2: null, math_1: null, math_2: null}
</script>

<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}
</script>

<script>
function searchFunction() {
    var input, filter, li, a, i, txtValue;

    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    li = document.getElementsByClassName("collapsible");

    for (i = 0; i < li.length; i++) {

        a = li[i];
        txtValue = a.textContent || a.innerText;

        if (txtValue.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
        } else {
            li[i].style.display = "none";
        }
    }
}
</script>

</body>
<style>
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}
.active, .collapsible:hover {
  background-color: #ccc;
}
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}
.collapsible:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

#myInput {
  background-image: url("http://127.0.0.1:8000/static/img/searchicon.png");
  background-position: 10px 15px;
  background-repeat: no-repeat;
  width: 50%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-top: 80px;
  margin-left: 25px;
}

</style>



</html>
