{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <link href="{% static 'css/standard-site.css' %}" rel="stylesheet" >
  <link href="{% static 'css/w3.css' %}" rel="stylesheet" >
  <link href="{% static 'css/bootstrap.css' %} " rel="stylesheet">
    <meta charset="UTF-8">

    <title>Show All Students</title>
    <!--Custom Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
</head>
<body>
{#  <h1 class="site-heading text-center text-white d-none d-lg-block">#}
{#    <span class="site-heading-upper text-primary mb-3 site-heading">A We Thought This Was Cam Production</span>#}
{#    <span class="site-heading-lower">The Student Predictor</span>#}
{#  </h1>#}
    {% include "includes/header.html" %}
    <!---Navigation Section--->
{#    <nav class="navbar navbar-expand-lg navbar-dark py-lg-4 site-heading text-center" id="mainNav">#}
{#      <div class = "container">#}
{#        <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">The Student Predictor</a><!--mobile view-->#}
{#        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">#}
{#          <span class="navbar-toggler-icon"></span>#}
{#        </button>#}
{#        <!--the navbar itself-->#}
{#        <div class = "collapse navbar-collapse" id="navbarResponsive">#}
{#          <ul class= "navbar-nav mx-auto">#}
{#            <li class="nav-item px-lg-4">#}
{#              <a class="nav-link text-uppercase text-expanded" href="{% url 'demo:home' %}">Home</a>#}
{#            </li>#}
{#            <li class="nav-item px-lg-4">#}
{#              <a class="nav-link text-uppercase text-expanded" href="{% url 'student_predictor:show_all_students' %}">Show All Students</a>#}
{#            </li>#}
{#            <li class="nav-item px-lg-4">#}
{#              <a class="nav-link text-uppercase text-expanded" href="{% url 'student_predictor:predict_student' %}" >Predict Student</a>#}
{#            </li>#}
{#            <li class="nav-item px-lg-4">#}
{#              <a class="nav-link text-uppercase text-expanded" href="{% url 'student_predictor:predict_multi_student' %}">Predict Multiple Students</a>#}
{#            </li>#}
{#            <li class = "nav-item px-lg-4">#}
{#              <a class  = "nav-link text-uppercase text-expanded" href="/accounts/logout">Logout</a>#}
{#            </li>#}
{#          </ul>#}
{#        </div>#}
{#      </div>#}
{#    </nav>#}
    {% include "includes/navbar.html" %}



<h1 class="text-center text-white text-uppercase">Show All Students</h1>
{# alphabetical_students is just a list of all student model objects, ordered by full_name #}
{% if alphabetical_students %}
    <ul class = "text-black margin-students">
    {% for student in alphabetical_students %}
        {# Block of code is run for each student #}
        {# Look in show_student.html for how to access other attributes #}
        <button id = "stud_btn_{{ student.student_no }}" type="button" class="collapsible ">{{student}} - {{ student.prediction_text }}</button>
          <div class="content">
            <table>
                <tr><td>Year of Study 1 Overall Average:</td><td>{{student.aggregate_YOS1}}%</td></tr>
                <tr><td>Year of Study 1 Overall Average:</td><td>{{student.aggregate_YOS2}}%<td></tr>
                <tr><td>Year of Study 1 COMS Average:</td><td>{{student.coms_avg_YOS1}}%</td></tr>
                <tr><td>Year of Study 1 COMS Average:</td><td>{{student.coms_avg_YOS2}}%</td></tr>
                <tr><td>Year of Study 1 MATH Average:</td><td>{{student.maths_avg_YOS1}}%</td></tr>
                <tr><td>Year of Study 2 MATH Average:</td><td>{{student.maths_avg_YOS2}}%</td></tr>
            </table>
            <a class="btn std-button btn-xl text-white" href ="{% url 'student_predictor:re_predict_student' student.id %}"> Edit & Predict </a>
          </div>
    {% endfor %}
    </ul>
{% else %}
    No students exist.
{% endif %}

{% include "includes/footer.html" %}

<script type="text/javascript">
    var selected_student_no = "{{selected_student_no}}"; // Python None will evaluate to the String 'None'
    // console.log(selected_student_no);
    console.log(selected_student_no);
    if (selected_student_no !== "None") { // If a student has been selected
        window.onload=function(){
            var btn_id = "stud_btn_" & selected_student_no;
            //console.log(btn_id);
            var stud_btn = document.getElementById("stud_btn_"+selected_student_no);
            stud_btn.click();
            stud_btn.scrollIntoView();
        };
    }
</script>

<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}
</script>
</body>
<style>
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}
.active, .collapsible:hover {
  background-color: #ccc;
}
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}
.collapsible:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}
</style>



</html>
