{% load static %}
<!DOCTYPE html>
<html lang="en" class ="body">
<head>
    <link href="{% static 'css/standard-site.css' %}" rel="stylesheet" >
    <link href="{% static 'css/w3.css' %}" rel="stylesheet" >
    <link href="{% static 'css/bootstrap.css' %} " rel="stylesheet">
    <script src = "{% static 'js/home.js'%"></script>
    <meta charset="UTF-8">
     <!--Custom Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

    <title>{{ object }}</title> {# object specifies model being used by DetailView - '__str__' converts object to string#}
</head>
<body>
<h1 class="site-heading text-center text-white d-none d-lg-block">
    <span class="site-heading-upper text-primary mb-3">A We Thought This Was Cam Production</span>
    <span class="site-heading-lower">The Student Predictor</span>
  </h1>
    <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
      <div class = "container">
        <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">The Student Predictor</a><!--mobile view-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!--the navbar itself-->
        <div class = "collapse navbar-collapse" id="navbarResponsive">
          <ul class= "navbar-nav mx-auto">
            <li class="nav-item active px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="/demo">Home</a>
            </li>
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="#">About us</a>
            </li>
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="#">Contact</a>
            </li>
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="/students/predict">student predictor</a>
            </li>
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="/students/Showall">show all students</a>
            </li>
            <li class = "nav-item px-lg-4">
              <a class  = "nav-link text-uppercase text-expanded" href="/accounts/logout">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
Hi I'm {{ object }}
{# 'object' corresponds to the current student model object but can be represented as a string if needed #}
{# Below is how you reference each value in the student model #}
{{ object.student_no }} <br>
{{ object.full_name }} <br>
{{ object.aggregate_YOS1 }} <br>
{{ object.aggregate_YOS2 }} <br>
{{ object.coms_avg_YOS1 }} <br>
{{ object.coms_avg_YOS2 }} <br>
{{ object.maths_avg_YOS1 }} <br>
{{ object.maths_avg_YOS2 }} <br>
{# Below is how to call a method that does not require arguments #}
{# prediction_text returns the text/description of the prediction char - look in models.py#}
{{ object.prediction_text }} <br>

</body>
</html>