{% load static %}
<!DOCTYPE html>
<html lang="en" class ="body">
<head>
  <link href="{% static 'css/standard-site.css' %}" rel="stylesheet" >
  <link href="{% static 'css/w3.css' %}" rel="stylesheet" >
  <link href="{% static 'css/bootstrap.css' %} " rel="stylesheet">
    <meta charset="UTF-8">
    <title>{{ object }}</title> {# object specifies model being used by DetailView - '__str__' converts object to string#}
</head>
<body>
  {% include "includes/header.html" %}
    <!---Navigation Section--->
    {% include "includes/navbar.html" %}

  
{#        Hi I'm {{ object }}#}
        {# 'object' corresponds to the current student model object but can be represented as a string if needed #}
        {# Below is how you reference each value in the student model #}
        {# Make this look fancy pls #}
        <h1 clas = "text-white" style="margin-top:46px">{{object.full_name }}</h1>
        Student No: {{ object.student_no }} <br>
        First Year Overall Average: {{ object.aggregate_YOS1 }} <br>
        Second Year Overall Average: {{ object.aggregate_YOS2 }} <br>
        First Year COMS Average: {{ object.coms_avg_YOS1 }} <br>
        Second Year COMS Average: {{ object.coms_avg_YOS2 }} <br>
        First Year MATHS Average: {{ object.maths_avg_YOS1 }} <br>
        Second Year MATHS Average: {{ object.maths_avg_YOS2 }} <br>
        {# Below is how to call a method that does not require arguments #}
        {# prediction_text returns the text/description of the prediction char - look in models.py#}
{#        Put in some element to bring attention to this pls#}
        Predicted Outcome: {{ object.prediction_text }} <br>
    </div>

</body>
</html>
