{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <link href="{% static 'css/standard-site.css' %}" rel="stylesheet" >
  <link href="{% static 'css/w3.css' %}" rel="stylesheet" >
  <link href="{% static 'css/bootstrap.css' %} " rel="stylesheet">
    <meta charset="UTF-8">

    <title>Show All Students</title>
    <!--Custom Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
</head>
<body>
  <h1 class="site-heading text-center text-white d-none d-lg-block">
    <span class="site-heading-upper text-primary mb-3 site-heading">A We Thought This Was Cam Production</span>
    <span class="site-heading-lower">The Student Predictor</span>
  </h1>
    <!---Navigation Section--->
    <nav class="navbar navbar-expand-lg navbar-dark py-lg-4 site-heading text-center" id="mainNav">
      <div class = "container">
        <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">The Student Predictor</a><!--mobile view-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!--the navbar itself-->
        <div class = "collapse navbar-collapse" id="navbarResponsive">
          <ul class= "navbar-nav mx-auto">
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="{% url 'demo:home' %}">Home</a>
            </li>
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="{% url 'student_predictor:show_all_students' %}">Show All STudents</a>
            </li>
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="{% url 'student_predictor:predict_student' %}" >student predictor</a>
            </li>
            <li class = "nav-item px-lg-4">
              <a class  = "nav-link text-uppercase text-expanded" href="/accounts/logout">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>



<h1 class="site-heading text-white">List of Students</h1>
{# alphabetical_students is just a list of all student model objects, ordered by full_name #}
{% if alphabetical_students %}
    <ul class = "text-black centre">
    {% for student in alphabetical_students %}
        {# Block of code is run for each student #}
        {# Look in show_student.html for how to access other attributes #}
        <button type="button" class="collapsible" id="{{student.student_no}}">{{student.full_name}} {{ student.student_no }} {{ student.prediction_text }}</button>
          <div class="content">
            <p href="{% url 'student_predictor:show_student' student.id %}"> Year of Study Average 1: {{student.aggregate_YOS1}} %</p>
            <p href="{% url 'student_predictor:show_student' student.id %}"> Year of Study Average 2: {{student.aggregate_YOS2}} %</p>
            <p href="{% url 'student_predictor:show_student' student.id %}"> Year of Study Coms 1:    {{student.coms_avg_YOS1}} %</p>
            <p href="{% url 'student_predictor:show_student' student.id %}"> Year of Study Coms 2:    {{student.coms_avg_YOS2}} %</p>
            <p href="{% url 'student_predictor:show_student' student.id %}"> Year of Study Maths 1:   {{student.maths_avg_YOS1}} %</p>
            <p href="{% url 'student_predictor:show_student' student.id %}"> Year of Study Maths 2:   {{student.maths_avg_YOS2}} %</p>
            <input class="btn std-button btn-xl text-white" href ="{% url 'student_predictor:re_predict_student' student.id %}" type="submit" name="repredict" value="Repredic">
          </div>
          {% endfor %}
    </ul>
{% else %}
    No students exist.
{% endif %}
<script type="text/javascript">
   var selected_student_no = "{{selected_student_no}}";
   console.log(selected_student_no);
</script>

<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}
</script>
<script>
window.onload=function(){
  document.getElementById(selected_student_no).click();
};
</script>
</body>
<style>
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}
.active, .collapsible:hover {
  background-color: #ccc;
}
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}
.collapsible:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}
</style>



</html>
