{% load static %}
<!DOCTYPE html>
<html lang="en">
<head style="background-color:#696969;">

    <!--Link to static files-->
{#    There is no file that corresponds to this...#}
<link href="{% static 'css/w3.css' %}" rel="stylesheet" >
<link href="{% static 'css/bootstrap.css' %} " rel="stylesheet">
<link href="{% static 'css/parallex.css' %}" rel = "stylesheet">
<link href="{% static 'css/standard-site.css' %}" rel="stylesheet" >

    <title>Statistics</title>
</head>
<body>
  {% include "includes/header.html" %}
    <!-------------------------------------------Navigation Section-------------------------------------->
    {% include "includes/navbar.html" %}
    <!--------------------------------------------Mid Section/Page Content-------------------------------------->
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <div id="container" data-url="{% url 'student_predictor:p' %}"></div>
    <link type="text/css" rel="stylesheet" href="TASK3.css" media="all" />
	  <script language="javascript" type="text/javascript" src="https://code.highcharts.com/highcharts.js"></script>
	  <script language="javascript" type="text/javascript" src="https://code.highcharts.com/modules/exporting.js">/script>
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <div id="container" style="height: 400px; min-width: 310px; max-width: 1200px; margin: 0 auto"></div>
   <!-- the javascript call -->
   <script>
    $.ajax({
      url: $("#container").attr("data-url"),
      dataType: 'json',
      success: function (data) {
        Highcharts.chart("container", data);
      }
    });
  </script>


    </div>
</body>
</html>
